body
{
    
    background-image: url("../js/Background.jpg");
    background-size: cover;
    ;
    background-position: 50% 50%;
    display: inline-flex;
    overflow: hidden;
    min-width: 1000px;
    color: rgb(5, 173, 173)
}
#container
{
    width:600px;
    height: 600px;
    margin:0 auto;
    margin-top:3%;
    margin-left: 50px;
    display: center;
}